:root {
    --primary: #776b5d;
    --secondary: #b0a695;
    --accent: #ebe3d5;
    --background: #f3eeea;
    --text: #ffffff;
    --black: #000000;
    --red: #ff0000;
    --blue: #0000ff;
    --green: #4caf50;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    min-height: 90vh;
}

body {
    background-color: var(--background);
    font-family: "Poppins", sans-serif;
}

header, footer {
    padding: 1rem 3rem;
    background-color: var(--secondary);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.app-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-bar img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    border-radius: 50%;
    object-fit: cover;
}

.input-output {
    display: flex;
    margin: 2rem;
    gap: 3rem;
}

.input,
.output,
.book-shelf,
#input-book__title,
#input-book__author,
#input-book__year {
    min-width: 0;
    border: 0.1px solid var(--black);
    justify-content: space-between;
}


.input,
.output,
.book-shelf {
    border-radius: 0.7rem;
    padding: 2rem;
}

.input {
    flex: 0 0 300px;
    padding: 2rem;
    height: auto;
}

.output,
.book-shelf {
    flex: 1;
}

#input-book__title,
#input-book__author,
#input-book__year,
.edit-form {
    border-radius: 0.3rem;
    padding: 0.5rem;
}

.input-book,
.edit-form {
    display: flex;
    flex-direction: column;
}

form div,
#submit-button {
    margin-top: 1rem;
}

.input h2 {
    text-align: center;
}

#submit-button,
#search-book_tittle,
#search-button,
.book-item button {
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
}

#submit-button,
#search-button,
.book-item button {
    background-color: var(--primary);
    color: var(--text);
    display: block;
    width: 100%;
    border: 0;
}

#search-book {
    display: flex;
    gap: 0.5rem;
}

#search-book_tittle {
    flex: 7;
}

#search-button {
    flex: 2;
}

.book {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.book-shelf h3 {
    text-align: center;
}

.book-item,
.edit-form {
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.4rem;
    background-color: var(--accent);
    position: relative;

}

.book-item button {
    margin-top: 0.2rem;
}

.cancel-button:hover {
    background-color: var(--red);
}

#popup {
    display: none;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    z-index: 999;
}

input[type="checkbox"] {
    cursor: pointer;
}

.complete-checkbox {
    position: absolute;
    top: 1rem; 
    right: 1rem; 
}

.edit-container {
    display: flex;
    gap: 1rem;
}

.save-button:hover {
    background-color: var(--green);
}

.edit-form {
    gap: 0.5rem;
    align-items: center;
}

footer {
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .book {
        flex-direction: column;
    }
}

@media screen and (max-width: 660px) {
    .input-output {
        flex-direction: column;
        gap: 1rem;
    }

    #search-book, .book {
        flex-direction: column;
    }
}
